body{
	overflow-x:hidden;
	padding: 2%;
	background:url("../fondo.jpg");
}
.modulo1{
	width:400px;
	height:300px;
	float: right;
	margin-top: -20%;
}
.modulo3{
	width:400px;
	height:300px;
	margin: auto;
	background-color:#81DAF5;
}
.cuadro1{
	width:300px;
	margin: center;
}
.cuadro2{
	width:200px;
	margin: -200px 300px;
}
.city{
	display:inline-block;
	background-color: #FFBF00;
	color:#fff;
	text-decoration:none;
	padding:5px 25px;
	margin: 15px 45px;
}
.button{
	display: inline-block;
	height:20px;
	width:160px;
	background-color: #2FADDB;
	font-family:arial;
	font-weight:bold;
	color:#ffffff;
	border-radius: 5px;
	text-align:center;
	cursor:pointer; cursor: hand
}
.centro{
	border: 3px outset gray;
	border-radius: 5%;

}
.principal{
		width: 30%;
		height: 10%;
		margin: auto;
		text-align:center;
}
.titulo{
	padding: 4%;
	border-radius: 5%;
	text-align: center;
}

.site{
	font-family: cursive;
	font-size: 20px;

}
.info8{
	font-size: 15px;
}